.card {
    position: relative;
    width: 80%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .overlayText {
    margin: 0;
    font-size: 18px;
  }
  
  .ctaButton {
    display: none; /* Hidden by default */
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ctaButton:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the CTA button only on hover */
  .card:hover .ctaButton {
    display: block;
  }

  .homecard-container{
    width: 100%;
    min-height: 60vh;
 display: flex;
 align-items: center;
 justify-content: space-around;

  }

  @media only screen and (max-width: 600px){
    .hero-title{
      font-size: 30px !important;
      text-align: center;
  
    }
    .empty-space{
      min-height: 10vh;
      width: 100%;
    }
    .lead{
  font-size: 20px;
  text-align: center;
    }
    .hero-image{
      width: 100%;
      height: 100%;
    }
    .hero-content{
      min-height: 40vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .heroSection{
      min-height: 200vh;
    }
  
    .homecard-container{
      min-height: 170vh;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .card-col{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50vh;
    }
    .homecard-row{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .carousel{
      width: 100%;
      min-height: 100vh;
    }
    .carousel-img{
      width: 60%;
    }
    .carousel-title{
      font-size: 24px !important;
      text-align: center;
      font-weight: bold;
    }
    .carousel-body-text{
      font-size: 18px !important;
      text-align: center;
    }
    .btn{
      text-align: center;
    }
    .carousel-content{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  