/* Adjust navbar to center items */
.navbar-nav {
    justify-content: center;
    width: 100%;
    color: #000;
  }

  Navbar{
    background-color: #fff !important;
  }
  
  .dropdown-menu {
    position: absolute;

    top: 0;
  }
  
 .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
  

 .active{
  color: #D4AF37 !important;
  font-weight: bold;
 }

 .nav-btn{
  background-color: #D4AF37;
  color: #fff ;
  font-weight: bold;
  padding: 10px 70px;
   border-radius: 6px ;
 }

 .nav-btn:hover{
  background-color: #fff;
  border-radius: 6px;
  border-color: #D4AF37 ;
  color: #D4AF37;
 }